/*body{
    background-color: red;
}*/

html{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

body{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    /* *********/
    font-family: "Segoe UI","Helvetica Neue",Helvetica,"Lucida Grande",Arial,"Fira Sans",sans-serif;
    color: #3b4a54;
    user-select: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    background-color: #eae6df;
    background-image: linear-gradient(180deg,#eae6df,#d1d7db);
    line-height: 1;
    font-size: 100%;
    vertical-align: initial;
}


div[id="header"]{
    display: none;

}


/******************* COTE DROIT  ******************************************************/




div[id="main"]{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    min-width: 820px;
    height: 100%;
    z-index: 200;
    background-color: #f7f8fa;

    /*border: 2px solid blue;*/

}

aside[id="listChat"]{
    /*border: 5px solid black;*/
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    margin-right: 0px;
    overflow: hidden;
    /*width: 30%;*/
}

#listItemChat{
    height: 100%;    
    /*border: 1px solid blue;*/
    border-top: 1px solid #e9edef;
    margin: 0px 0px;
    padding: 0px 0px;
    overflow: auto;
     /*  scroll bar for firefox*/

     scrollbar-width: thin;
     scrollbar-color: rgba(11,20,26,.2) rgba(255,255,255,.1);

   
}



#listItemChat::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

#listItemChat::-webkit-scrollbar-thumb{
    background-color: rgba(11,20,26,.2);
}

#listItemChat::-webkit-scrollbar-track{
    background: rgba(255,255,255,.1);
}

section[id="rightSide"]{

    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    /*background-color: blue;*/
    background-color: #f8f8f8;

    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    transform-origin: left top;
    transform: translateZ(0);

}

section[id="viewChat"]{
    /*border: 2px solid red;*/
    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    padding: 28px 0px;
    /*background-color: red;*/
    box-sizing: border-box;
    /*display: flex;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-left: 1px solid #e9edef;
    /*background-color: red;*/
    /*width: 30%;*/
}

#mainChat{
    margin: 0px 0px;
    padding: 0px 0px;
    /*border: 2px solid red;*/
    /*position: relative;
    right: 0;
    top: 0;
    z-index: 100;*/
    height: 100%;
   
    /*background-color: red;*/
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efeae2;
    /*border-left: 1px solid #e9edef;*/
    /*background-color: red;*/
    width: 100%;
}

#headerChat{
    border-left: 1px solid #d1d7db;
    /*border: 2px solid blue;*/
    padding: 10px 16px;
    background-color: #f0f2f5;
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 59px;
}

#leftHeaderChat{
    /*background-color: white;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
}

#iconMainChat{
    width: 40px;
    height: 40px;
    margin: -1px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
    /*background-color: red;*/
}

#iconMainChat img{
    width: 41px;
    height: 41px;
}


#nameMainChat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /*background-color: yellow;*/
}

#nameMainChat p{
    margin: 3px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#online{
    font-size: 12px;
    color: #667781;
}

#rightHeaderChat{
    /*background-color: white;*/
    color: #54656f;
    display: flex;
    align-items: center;
}

#searchHeaderChat{
    box-sizing: border-box;
    /*background-color: white;*/
    height: 40px;
    width: 40px;
    padding: 8px 8px;
    font-size: larger;
}

#searchHeaderChat span{
    display: flex;
    align-items: center;
    font-size: 90px;
    flex: 1;
}

#menuHeaderChat{
    box-sizing: border-box;
    /*background-color: white;*/
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

#menuHeaderChat span{
    display: flex;
    align-items: center;
}

#chatDiscussion{
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
    flex: 1;
    padding: 0px 10px 0px 10px;
    overflow: auto;
    white-space: wrap;
    text-overflow: ellipsis;
    background-image: url(../Picture/background.jpg);

}
#chatDiscussion p{
    /*white-space: wrap;*/
    text-overflow: ellipsis;
    font-size: 20px;

}
.receiver{
    display: flex;
    justify-content: flex-end;
}

.sender{
    display: flex;
    justify-content: flex-start;
}


.sender p{
    text-align: left;
    background-color: #fff;
    border-radius: 7.5px;
    border-top-left-radius: 0px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
    overflow-wrap: break-word;
    white-space: pre-wrap ;
    max-width: 200px;
    padding: 6px 7px 8px 9px;

}

.receiver p{
    text-align: right;
    background-color: #d9fdd3;
    border-radius: 7.5px;
    border-top-right-radius: 0px;

    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);

    overflow-wrap: break-word;
    white-space: pre-wrap ;
    max-width: 200px;
    

    padding: 6px 7px 8px 9px;
}

#chatDiscussion::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

#chatDiscussion::-webkit-scrollbar-thumb{
    background-color: rgba(11,20,26,.2);
}

#chatDiscussion::-webkit-scrollbar-track{
    background: rgba(255,255,255,.1);
}



#footerChat{
    display: flex;
    /*background-color: red;*/
    background-color: #f0f2f5;
    border-left: 1px solid #e9edef;
    align-items: center;
    height: 62px;
    position: relative;
    padding: 5px 17px 5px 10px;
    box-sizing: border-box;

}
 #iconFooterChat{
    min-height: 52px;
    padding: 5px 10px;
    margin-right: -10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #54656f;
 }

 #emoticon{
    margin: 0px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 26px;
    height: calc(52px - 2*5px);
    box-sizing: border-box;

 }

 #file{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    box-sizing: border-box;

 }

 #sendMessage{
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: #fff;
    /*background-color: red;*/
    border: 1px solid #fff;
    border-radius: 8px;
    box-sizing: border-box;
    min-height: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    flex: 1;
    color: #667781;
    font-size: 0.9375rem;
 }

 #voiseMessage{
    padding: 5px 10px;
    width: 37px;
    box-sizing: border-box;
    color: #54656f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
 }


div[id="home"]{
    
    /*background-color: black;*/
    max-width: 560px;
    min-width: 440px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    /*padding-bottom: 20px;*/

}

div[id="illustration"]{
    
    /*background-color: blue;*/
    /*width: 560px;*/
    /*height: 410px;*/
    display: flex;
    justify-content: center;
    align-items: center;

}

div[id="instruction"]{
    /*max-width: 560px;*/
    min-width: 440px;
    height: 204px;
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    /*color: white;*/
}

div[id="instruction"] p{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #667781;
    
}

div[id="title"]{
    margin-top: 40px;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;
    color: #41525d;
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
}
div[id="title"] h1{
    
    font-size: 100%;
    /*vertical-align: initial;*/
    margin-top: 0px;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;

    margin-bottom: 0px;
}

div[id="new"]{
    /*background-color: blue;*/
    height: 38px;
    /*margin: 27px 0px;*/
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 100%;
    vertical-align: initial;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
div[id="new"] p{

    padding: 5px 8px;
    background-color: #e6e6e6;
    border-radius: 999px;
    font-size: 10px;
    font-weight: 700;
    color: #667781;
    line-height: 14px;
   /* vertical-align: middle;*/

}

div[id="barre"]{
    /*width: 560px;*/
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #e9edef;
    /*background-color: yellow;*/
}

div[id="makeCall"]{
    display: flex;
}

div[id="makeCall"] p{
    margin: 0px 0px;
    margin-left: 5px;
    text-align: unset;
    font-size: 14px;
    line-height: 20px;
    color: #667781;  
}


div[id="makeCall"] p a{
    text-decoration: none;
    color: #027eb5;
}

span[id="iconLaptop"]{
    width: 21px;
    height: 18px;
    margin: 0px 0px;
    margin-top: 1px;
}
span[id="iconLaptop"] svg{
    color: #8696a0;
}

div[id="footer"]{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 20px;
    color: #8696a0;
    /*margin-left: auto;
    margin-right: auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
div[id="footer"] p{
    margin: 0px 0px;
    margin-left: 5px;
    text-align: unset;
    font-size: 14px;

}
div[id="footer"] span{
    margin: 1px 1px;
    width: 10px;
    height: 12px;
    padding-bottom: 5px;
}

section[id="viewChat"]::after{
    height: 0px;
    border-top: 6px solid rgb(37, 211, 102);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    margin-left: 0px;

}


/*  ********************* LISTE DES CHATS ********************************* */

div[id="headerListChat"]{
    /*width: 100%;*/
    height: 39px;
    padding: 10px 16px;
    /*background-color: blue;*/
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div[id="userPicture"]{
    height: 40px;
    width: 40px;

}
div[id="userPicture"] span{
    height: 40px;
    width: 40px;
    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

div[id="userPicture"] img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 1;

}

div[id="icons"]{
    padding: 0px 0px;
    margin: 0px 0px;
}

div[id="icons"] span{
    padding: 0px 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    height: 24px;
    width: 24px;
}

div[id="icons"] svg{
    padding: 0px 0px;
    margin: 8px 8px;
    height: 24px;
    width: 24px;
}

#notifications{
    height: 0px;
    background-color: blue;
}

#searchContainer{
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    height: 49px;
    /*background-color: red; */
    padding: 0 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #8696a0;


}

#searchAndBack {
    position: absolute;
    left: 28px;
    top: 13px;
    z-index: 100;
    width: 24px;
    height: 24px;
    outline: none;
    padding: 0px 0px;
    cursor: pointer;
    border: none;
    color: #8696a0;

}

#search{
    height: 35px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 8px;
    /*background-color: yellowgreen;*/
    background-color: #f0f2f5;
    padding-right: 32px;
    padding-left: 65px;
    width: 100%;
}


#iconSearch{
    display: block;
}

#iconBack{
    display: none;
}

#cross{

    position: absolute;
    left: 360px;
    top: 13px;
    z-index: 100;
    width: 24px;
    height: 24px;
    outline: none;
    padding: 0px 0px;
    cursor: pointer;
    border: none;
    color: #8696a0;
    display: none;

}

.itemChat{
    height: 72px;
    /*background-color: red;*/
    background-color: #fff;
    position: relative;
    display: flex;

}

.itemChat:hover{
    background-color: #f0f2f5;
    
}

.iconItem{
    width: 77px;
    height: 72px;
    box-sizing: border-box;
    margin: -1px 0px 0px 0px;
    padding: 0px 15px 0px 13px;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconItem span{
    width: 51px;
    height: 51px;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    border-radius: 50%;
    
}

.userInfo{
    height: 72px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*background-color: yellow;*/
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #e9edef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*flex-grow: 1;*/

}

.nameHour{
    margin: 0px 0px;
    padding: 0px 0px;
    /*background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
    text-align: left;
}

.nameHour p{
    margin: 0px 0px;
    padding: 0px 0px;
}

.Username{
    font-size: 17px;
    font-weight: 400;
    color: #111b21;
}

.Hour{
    margin-top: 3px;
    margin-left: 6px;
    line-height: 14px;
    font-size: 12px;
    color: #667781;

}
.lastText{
    /*background-color: red;*/
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #667781;
    justify-content: space-between;
}

.left{
    display: flex;
    margin: 0px 0px;
    padding: 0px 0px;
}

.right{
    display: flex;
    margin: 0px 0px;
    padding: 0px 0px;
    align-items: center;
}

.number{
    height: 21px;
    width: 21px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.menuItem{
    width: 19px;
    /*height: 37px;*/
    height: 21px;
    font-size: 18px;
    padding: 0px 0px;
    margin: 0px 0px 0px 6px;
    color: #667781;
    display: none;
    align-items: center;
    justify-content: center;
}



.lastText span{
    /*padding-top: 5px ;*/
    margin: 0px 0px;
}

.lastText p{
    padding: 0px 0px ;
    margin: 0px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lastText svg{
    color: violet;
}